.le {
  &-radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    input {
      display: none;
      width: 0;
      height: 0;
      opacity: 0;
      &:checked {
        + span {
          &::before {
            box-shadow: 0 0 0 7px red inset;
          }
        }
      }
    }
    span {
      padding: 10px;
      border-radius: 1.5rem;
      align-self: center;
      &::before {
        content: '';
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-right: 5px;
        border-radius: 50%;
        box-shadow: 0 0 0 2px red inset;
        transition: box-shadow 0.3s ease-in-out;
      }
      &:hover {
        background-color: rgba($color: pink, $alpha: 0.3);
      }
    }

    &--disabled {
      cursor: not-allowed;
    }

    &-group {
      display: inline-flex;
      flex-direction: row;
      cursor: pointer;
      &--usecol {
        flex-direction: column;
      }
      &--disabled {
        cursor: not-allowed;
      }
    }
  }
}
