$select-option-item-default-height:30px;

:root{
--select-option-item-default-height:#{$select-option-item-default-height};
}

.le-select-option{
  // width: auto;
 
  &__item{
    flex: 0 0 auto;
    line-height: var(--select-option-item-default-height); 
    box-sizing: border-box;
    word-break: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 4px;
    user-select: none;
    cursor: pointer;
    &:not(:first-child){
      margin-top: 2px;
    }
    &--checked{
      background-color: var(--le-accents-2);
    }
    &--disabled{
      cursor: not-allowed;
      background-color: var(--le-accents-1);
      color:var(--le-accents-4) ;
    }
  }
}