$message-type: (
  'waring': (
    'bg': white,
    'color': black,
  ),
  'success': (
    'bg': rgb(36, 33, 233),
    'color': rgb(30, 107, 180),
  ),
  'error': (
    'bg': rgb(241, 16, 16),
    'color': rgb(185, 34, 34),
  ),
  'info': (
    'bg': rgb(187, 172, 40),
    'color': rgb(203, 224, 12),
  ),
  'default': (
    'bg': white,
    'color': black,
  ),
);

.le {
  &-message {
    display: inline-flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    box-sizing: border-box;
    min-width: 300px;
    background-color: skyblue;
    min-height: 40px;
    font-size: 15px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    transition: all 0.7s;

    &__close {
      cursor: pointer;
    }
  }
  &-message-fade {
    &-enter-from,
    &-leave-to {
      opacity: 0;
      transform: translate(-50%, -70%);
    }
  }
}
