@use './var.scss' as *;

$select-default-width:150px;
$select-default-height:30px;
$select-default-font-size:17px;

:root{
  --select-default-width:#{$select-default-width};
  --select-default-height:#{$select-default-height};
  --select-default-font-size:#{$select-default-font-size};
}

.le-select{
  &__weapper{

    box-sizing: border-box;
    display: inline-flex;
    cursor: pointer;
    border: 1px solid var(--le-accents-2);
    border-radius: calc(var(--select-default-font-size) * 0.3);
    overflow: hidden;
    &--disabled{
      cursor: not-allowed;
      background-color: var(--le-accents-3);
    }
  }

  &__input{
    min-width: var(--select-default-width);
    min-width: 100%;
    >input{
      padding: 0;
      margin: 0;
      border: none;
      outline: none;
      cursor: pointer;
      line-height: var(--select-default-height);
      font-size: var(--select-default-font-size);
      box-shadow: 0 0 1px 1px inset rgba($color: #000000, $alpha: .2);
    }
  }

  

}